body {
    background-image: url("https://www.hdwallpapers.in/download/two_black_white_cats_are_sitting_on_light_pink_couch_in_white_background_hd_cat-2560x1440.jpg");
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top:5%;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*width:50%;*/
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #f4f4f4;
}

#navbarNavAltMarkup{
    margin-right:13%;
}

.container-bar {
    width: 100%;
    background-color:brown;
}
.container-bar a{
    margin-bottom: -5%;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.account-management{
    margin-left:88%;
    margin-top:0.2%;
    color:white;
    padding-right:0px;
    padding-left:0px;
}

.collapse .nav-item{
    font-size: 20px;
}

.collapse{
    /*margin-left:50%;*/
    /*margin-right: 10%;*/
    margin-top:0.1%;
}
.collapse .nav-item{
    color: white;
}
.collapse .nav-item:hover{
    color: white;
}
.navbar-brand{
    margin-top: -1%;
}

.navbar-brand:hover{
    color: white;

}

.dropdown-menu{
    /*height:15%;*/
    padding-bottom: 5px;
}

.dropdown-menu a{
    margin-bottom: 2%;

}

.dropdown-toggle{
    font-size: 20px;
    margin-top:-5%;
    margin-left:-12%;
}

.dropdown-toggle:hover{
    color:white;
}
input[type="text"]{
    margin-left: 15%;
    width:155px;
    margin-bottom:  5px;
}
div #bookingForm{
    margin-top:1%;
    margin-left:37.6%;
}
#fromdate{
    margin-left: 5%;
}
label{
    color:brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-weight:200;
    color:brown;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:brown;
    margin-top:2%;
}

input[type="submit"]{
    background-color:brown;
    color:white;
    margin-left:12%;
    margin-top:3%;
    width:113px;
}

#fromdate{
    margin-left: 9.2%;
    width:155px;
    padding-bottom:1px;
}
#todate{
    margin-left: 11.7%;
    width:155px;
    padding-bottom:1px;
}
#owner_id{
    margin-left:10%;
}
#pet_id{
    margin-left:13.05%;
}

#keeper_id{
    margin-left:9.7%;
}