body {
    background-image: url("https://www.hdwallpapers.in/download/two_black_white_cats_are_sitting_on_light_pink_couch_in_white_background_hd_cat-2560x1440.jpg");
    font-family: Arial, sans-serif;
    /*padding: 0;*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom:5%;
}
.container-bar {
    width: 100%;
    background-color:brown;
    padding-bottom:3%;
}
.container-bar a{
    margin-bottom: -5%;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 1%;
}

.collapse .nav-item{
    font-size: 20px;
}

.collapse{
    margin-left:57%;
    margin-right: 0%;
    margin-bottom:-2.6%;
}
.collapse .nav-item{
    color: white;
}
.collapse .nav-item:hover{
    color: white;
}
.navbar-brand{
    margin-top: -1%;
}

.navbar-brand:hover{
    color: white;

}

#card-container {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .category-container {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 100%;
    }
}

h3{
    font-size:20px;
    font-family: Arial, sans-serif;
    color:brown;
    font-weight: bolder;
    padding-right:90%;
}

h2{
    font-size:20px;
    font-family: Arial, sans-serif;
    color:brown;
    font-weight: bolder;
}

h4{
    color:maroon;
    font-style: oblique;
    margin-bottom:14px;
    font-family: sans-serif;
    padding-top:1%;
    padding-bottom:2%;
}
.info{
    margin-top:1%;
    margin-left:2%;
}

li{
    margin-bottom:5px;
}
li a{
    font-style: oblique;
}