body {
    background-image: url("https://www.hdwallpapers.in/download/two_black_white_cats_are_sitting_on_light_pink_couch_in_white_background_hd_cat-2560x1440.jpg");
    font-family: Arial, sans-serif;
    /*background-color: #f4f4f4;*/
    margin-top:5%;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*width:50%;*/
    overflow-x: hidden;
}

#navbarNavAltMarkup{
    margin-right:-0.5%;
}

.container-bar {
    width: 100%;
    background-color:brown;
}
.container-bar a{
    margin-bottom: -3.5%;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
/*.account-management{
    position:relative;
    margin-left:89%;
    padding-top: -2%;
    color:white;
    padding-right:1%;
}*/
.account-management{
    margin-left:88%;
    margin-top:0.2%;
    color:white;
    padding-right:0px;
    padding-left:0px;
}

.collapse .nav-item{
    font-size: 20px;
}

.collapse{
    /*margin-left:50%;*/
    /*margin-right: 10%;*/
    /*margin-top:0.1%;*/
    padding-bottom:35px;
}
.collapse .nav-item{
    color: white;
}
.collapse .nav-item:hover{
    color: white;
}
.navbar-brand{
    margin-top: -3.3%;
}

.navbar-brand:hover{
    color: white;

}
.navbar{
    margin-bottom:  20px;
}

.dropdown-menu{
    /*height:15%;*/
    padding-bottom: 5px;
}

.dropdown-menu a{
    margin-bottom: 2%;

}

.dropdown-toggle{
    font-size: 20px;
    margin-top:-5%;
    margin-left:-12%;
}

.dropdown-toggle:hover{
    color:white;
}

/*h3{
    padding-top: 20px;
    font-size:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:brown;
    font-weight: bolder;
    padding-right:80%;
    width:100%;
}*/
h4{
    font-size:15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:brown;
    font-weight: bolder;
    padding-right:60%;
    width:100%;

}

.info{
    padding-left:1%;
}
.info ul{
    margin-top:2%;
    margin-right:2%;
}

.info ul li{
    font-family: Georgia, 'Times New Roman', Times, serif;
}