body {
    background-image: url("https://www.hdwallpapers.in/download/two_black_white_cats_are_sitting_on_light_pink_couch_in_white_background_hd_cat-2560x1440.jpg");
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top:5%;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*width:50%;*/
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #f4f4f4;
}

#navbarNavAltMarkup{
    margin-right:13%;
}

.container-bar {
    width: 100%;
    background-color:brown;
}
.container-bar a{
    margin-bottom: -5%;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.account-management{
    margin-left:88%;
    margin-top:0.2%;
    color:white;
    padding-right:0px;
    padding-left:0px;
}

.collapse .nav-item{
    font-size: 20px;
}

.collapse{
    margin-top:0.1%;
}

.collapse .nav-item{
    color: white;
}

.collapse .nav-item:hover{
    color: white;
}

.navbar-brand{
    margin-top: -1%;
}

.navbar-brand:hover{
    color: white;

}

.dropdown-menu{
    padding-bottom: 5px;
}

.dropdown-menu a{
    margin-bottom: 2%;

}

h3 button{
    background-color:white;
/*    width:10px;
    height:10px;*/
}
.swal2-popup {
    font-size: 14px !important;
}
h3 button img{
    height:30px;
    width:30px;
}
.dropdown-toggle{
    font-size: 20px;
    margin-top:-5%;
    margin-left:-12%;
}

.dropdown-toggle:hover{
    color:white;
}

input[type="text"]{
    margin-left: 15%;
    width:155px;
    margin-bottom:  5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div[id=pet-data] select{
    margin-left: 15%;
    width:155px;
    margin-bottom:  5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div textarea{
    margin-left: 15%;
    width:155px;
    margin-bottom:  5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label{
    color:brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-weight:200;
    color:brown;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:brown;
}

#petForm{
    margin-left:37%;
}

#owner_id{
    margin-left:12.1%;
}
#name{
    margin-left:15.5%;
}

#type{
    margin-left:16.35%;
}

#breed{
    margin-left:15.5%;
}

#gender{
    margin-left:14.2%;
    padding-bottom: 4px;
}

#birthyear{
    margin-left:11.7%;
}

#weight{
    margin-left:14.4%;
}

#description{
    margin-left:10.5%;
}

#photo{
    margin-left:15.6%;
    margin-bottom:0%;
}

#description_label{
    /*position:relative;*/
}

input[type="submit"]{
    background-color:brown;
    color:white;
    margin-left:15%;
    width:113px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#pet_id{
    margin-right:15%;
}