<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetKeeper</servlet-name>
        <servlet-class>servlets.GetPetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkEmail</servlet-name>
        <servlet-class>servlets.checkEmail</servlet-class>
        <servlet>
            <servlet-name>CheckUsername</servlet-name>
            <servlet-class>servlets.CheckUsername</servlet-class>
        </servlet>
    </servlet>
    <servlet>
        <servlet-name>InsertPetKeeper</servlet-name>
        <servlet-class>servlets.InsertPetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPetOwner</servlet-name>
        <servlet-class>servlets.InsertPetOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkUsername</servlet-name>
        <servlet-class>servlets.checkUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetOwner</servlet-name>
        <servlet-class>servlets.UpdatePetOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetKeeper</servlet-name>
        <servlet-class>servlets.UpdatePetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getKeepers</servlet-name>
        <servlet-class>servlets.getKeepers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getOwners</servlet-name>
        <servlet-class>servlets.getOwners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePetKeeper</servlet-name>
        <servlet-class>servlets.deletePetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePetOwner</servlet-name>
        <servlet-class>servlets.deletePetOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPetKeepersCount</servlet-name>
        <servlet-class>servlets.getPetKeepersCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPetOwnersCount</servlet-name>
        <servlet-class>servlets.getPetOwnersCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCatCount</servlet-name>
        <servlet-class>servlets.getCatCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDogCount</servlet-name>
        <servlet-class>servlets.getDogCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMoneyEarned</servlet-name>
        <servlet-class>servlets.getMoneyEarned</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getKeeperBookings</servlet-name>
        <servlet-class>servlets.getKeeperBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateBooking</servlet-name>
        <servlet-class>servlets.updateBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>askCHATGPT</servlet-name>
        <servlet-class>servlets.askCHATGPT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMessageToOwner</servlet-name>
        <servlet-class>servlets.sendMessageToOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMessageToKeeper</servlet-name>
        <servlet-class>servlets.sendMessageToKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMessagesKeeper</servlet-name>
        <servlet-class>servlets.getMessagesKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMessagesOwner</servlet-name>
        <servlet-class>servlets.getMessagesOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getKeepersBookingDetails</servlet-name>
        <servlet-class>servlets.getKeepersBookingDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getKeeperReviews</servlet-name>
        <servlet-class>servlets.getKeeperReviews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPet</servlet-name>
        <servlet-class>servlets.addPet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getOwnersBookings</servlet-name>
        <servlet-class>servlets.getOwnersBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addReview</servlet-name>
        <servlet-class>servlets.addReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAvailableKeepers</servlet-name>
        <servlet-class>servlets.getAvailableKeepers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getOwnersPet</servlet-name>
        <servlet-class>servlets.getOwnersPet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBooking</servlet-name>
        <servlet-class>servlets.addBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>runGiveaway</servlet-name>
        <servlet-class>servlets.runGiveaway</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetKeeper</servlet-name>
        <url-pattern>/GetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkEmail</servlet-name>
        <url-pattern>/checkEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPetKeeper</servlet-name>
        <url-pattern>/InsertPetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPetOwner</servlet-name>
        <url-pattern>/InsertPetOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkUsername</servlet-name>
        <url-pattern>/checkUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetOwner</servlet-name>
        <url-pattern>/UpdatePetOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetKeeper</servlet-name>
        <url-pattern>/UpdatePetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getKeepers</servlet-name>
        <url-pattern>/getKeepers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getOwners</servlet-name>
        <url-pattern>/getOwners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePetKeeper</servlet-name>
        <url-pattern>/deletePetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePetOwner</servlet-name>
        <url-pattern>/deletePetOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPetKeepersCount</servlet-name>
        <url-pattern>/getPetKeepersCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPetOwnersCount</servlet-name>
        <url-pattern>/getPetOwnersCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCatCount</servlet-name>
        <url-pattern>/getCatCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDogCount</servlet-name>
        <url-pattern>/getDogCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMoneyEarned</servlet-name>
        <url-pattern>/getMoneyEarned</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getKeeperBookings</servlet-name>
        <url-pattern>/getKeeperBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateBooking</servlet-name>
        <url-pattern>/updateBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>askCHATGPT</servlet-name>
        <url-pattern>/askCHATGPT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMessageToOwner</servlet-name>
        <url-pattern>/sendMessageToOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMessageToKeeper</servlet-name>
        <url-pattern>/sendMessageToKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMessagesKeeper</servlet-name>
        <url-pattern>/getMessagesKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMessagesOwner</servlet-name>
        <url-pattern>/getMessagesOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getKeepersBookingDetails</servlet-name>
        <url-pattern>/getKeepersBookingDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getKeeperReviews</servlet-name>
        <url-pattern>/getKeeperReviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPet</servlet-name>
        <url-pattern>/addPet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getOwnersBookings</servlet-name>
        <url-pattern>/getOwnersBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addReview</servlet-name>
        <url-pattern>/addReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAvailableKeepers</servlet-name>
        <url-pattern>/getAvailableKeepers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getOwnersPet</servlet-name>
        <url-pattern>/getOwnersPet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBooking</servlet-name>
        <url-pattern>/addBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>runGiveaway</servlet-name>
        <url-pattern>/runGiveaway</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
