<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetKeeper</servlet-name>
        <servlet-class>servlets.GetPetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkEmail</servlet-name>
        <servlet-class>servlets.checkEmail</servlet-class>
        <servlet>
            <servlet-name>CheckUsername</servlet-name>
            <servlet-class>servlets.CheckUsername</servlet-class>
        </servlet>
    </servlet>
    <servlet>
        <servlet-name>InsertPetKeeper</servlet-name>
        <servlet-class>servlets.InsertPetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPetOwner</servlet-name>
        <servlet-class>servlets.InsertPetOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkUsername</servlet-name>
        <servlet-class>servlets.checkUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetOwner</servlet-name>
        <servlet-class>servlets.UpdatePetOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetKeeper</servlet-name>
        <servlet-class>servlets.UpdatePetKeeper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetKeeper</servlet-name>
        <url-pattern>/GetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkEmail</servlet-name>
        <url-pattern>/checkEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPetKeeper</servlet-name>
        <url-pattern>/InsertPetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPetOwner</servlet-name>
        <url-pattern>/InsertPetOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkUsername</servlet-name>
        <url-pattern>/checkUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetOwner</servlet-name>
        <url-pattern>/UpdatePetOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetKeeper</servlet-name>
        <url-pattern>/UpdatePetKeeper</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
